label {
  position: relative;
  font-size: 14px;
  border-top: 20px solid transparent;
  margin-bottom: 5px;
  display: inline-block;
  --field-padding: 12px;
}

label .placeholder {
  position: absolute;
  left: var(--field-padding);
  width: calc(100% - (var(--field-padding) * 2));
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  top: 22px;
  line-height: 100%;
  transform: translateY(-50%);
  color: var(--secondary-color);
  transition: 
    top 0.3s ease,
    color 0.3s ease,
    font-size 0.3s ease;
}

label select {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: var(--field-padding);
  border-radius: 3px;
  width: 250px;
  outline: none;
  font-size: 14px;
}

label select.dirty + .placeholder,
label select:focus + .placeholder,
label select:not(:placeholder-shown) + .placeholder {
  top: -10px;
  font-size: 10px;
  color: var(--primary-color);
}

label select {
  border-radius: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background:
    linear-gradient(90deg, var(--primary-color), var(--primary-color)) center bottom/0 0.15em no-repeat,
    linear-gradient(90deg, #ccc, #ccc) left bottom/100% 0.15em no-repeat,
    linear-gradient(90deg, #fafafa, #fafafa) left bottom/100% no-repeat;
  transition: background-size 0.3s ease;
}

label select.dirty,
label select:not(:placeholder-shown),
label select:focus {
  background-size: 100% 0.15em, 100% 0.1em, 100%;
}
